<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <%= link_to "Back", root_path,  class: "btn btn-outline-info" %>

      <div class="look17_image"></div>

    </div>
  </div>
</div>