<div class="container about-top-wrapper">
  <div class="card-body">
      <div class=" col-12">
        <div class="about-top">Text</div>
        <div class="about-nagano-cake-text col-12">
        <p>
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttexttexttexttexttexttexttext
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttext<br>
        texttexttext<br>
        </p>
        </div>
     </div>
  </div>
</div>

<div class="a">
    <div class="background"><img class="c"></div>
    <div class="background"><img class="d"></div>
    <div class="background"><img class="e"></div>
</div>


     <div class="about-chef col-9"></div>
