<div class="container about-top-wrapper">
  <div class="card-body">
      <div class=" col-12">
        <div class="about-top">Text</div>
        <div class="about-nagano-cake-text col-12">
        <p>
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttexttexttexttexttexttexttext
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttext<br>
        texttexttext<br>
        </p>
        </div>
     </div>
  </div>
</div>

<div id="wrap">
 <div class="a">
    <div class="background"><img class="c"></div>
    <div class="background"><img class="d"></div>
    <div class="background"><img class="e"></div>
    <div class="background"><img class="f"></div>
    <div class="background"><img class="g"></div>
    <div class="background"><img class="h"></div>
    <div class="background"><img class="i"></div>
    <div class="background"><img class="j"></div>
    <div class="background"><img class="k"></div>
    <div class="background"><img class="l"></div>
    <div class="background"><img class="m"></div>
    <div class="background"><img class="n"></div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-3">
      <div class="img_show">

       <%= link_to look_images_look0_path do %>
       <%= image_tag "img1.jpg", class:'icon' %>
       <% end %>


       <%= link_to lookimages_look1_path do %>
       <div class="img1"></div>
       <% end %>

      </div>
  </div>
</div>
</div>






