<div class="container about-top-wrapper">
  <div class="card-body">
      <div class=" col-12">
        <div class="about-top">Text</div>
        <div class="about-nagano-cake-text col-12">
        <p>
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttexttexttexttexttexttexttext
        <br>
        texttexttexttexttexttexttexttexttext<br>
        texttexttext<br>
        texttexttext<br>
        </p>
        </div>
     </div>
  </div>
</div>

<div id="wrap">
  <ul id="slider">
    <div class="background"><img class="c"><li class="slide-item"></li></div>
    <div class="background"><img class="d"><li class="slide-item"></li></div>
    <div class="background"><img class="e"><li class="slide-item"></li></div>
    <div class="background"><img class="f"><li class="slide-item"></li></div>
  </ul>
  <ul id="thumbnail_slider">
    <div class="hoge"><img class="c2"><li class="thumbnail-item"></li></div>
    <div class="hoge"><img class="d2"><li class="thumbnail-item"></li></div>
    <div class="hoge"><img class="e2"><li class="thumbnail-item"></li></div>
    <div class="hoge"><img class="f2"><li class="thumbnail-item"></li></div>
  </ul>
</div>





