// Place all the styles related to the LookImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.look1_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img2.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.look2_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img4.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look3_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img6.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look4_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img8.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look5_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img10.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look6_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img12.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look7_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img14.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look8_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img16.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look9_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img18.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look10_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img20.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look11_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img3.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look12_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img5.jpg');
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look13_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img7.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look14_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img9.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look15_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img11.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look16_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img13.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look17_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img15.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look18_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img17.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look19_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img19.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.look20_image {
  margin-left: 30%;
  max-width: 40%;
  background-image: image-url('img21.jpg');
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-outline-info {
  margin-left: 30%;
  margin-top: 30px;
}

@media screen and (max-width:1024px) {
  .look1_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}