// Place all the styles related to the LookImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.look1_image {
  background-image: image-url('img1.jpg');
  width: 100%;
  height: 670px;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}


.look2_image {
  background-image: image-url('img2.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.look_top_text {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.look_text {
  text-align: center;
}

.btn-outline-info {
  margin-top: 30px;
}
