// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-prev:before,
 .slick-next:before {
   color: black;
 }

.homes-top-box {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homes-top-wrapper {
  margin-top: 40px;
}



.homes-top-text {
  height: 200px;
  margin-top: 110px;
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1rem 2rem;
  border: 2px solid #333;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  background: rgba(255,255,255,0.9);
  padding-top: 35px;
}


.about-top-wrapper {
  margin-top: 40px;
}

.about-top {
  font-size: 70px;
  text-align: center;
}

.about-nagano-cake-text {
  margin-top: 100px;
ã€€font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  color: black;
  padding: 1rem 2rem;

  background: rgba(255,255,255,110);
  text-align: center;
}





@font-face {

	font-family: 'Roboto', sans-serif;

	font-family: 'Oranienbaum', serif;

}

.a {

}


.c {
  background-image: image-url('img1.jpg');
  margin: 0 auto;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.d {
  background-image: image-url('img2.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;

}

.e {
  background-image: image-url('img3.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.f {
  background-image: image-url('img4.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.g {
  background-image: image-url('img5.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.h {
  background-image: image-url('img6.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.i {
  background-image: image-url('img7.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.j {
  background-image: image-url('img8.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.k {
  background-image: image-url('img9.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.l {
  background-image: image-url('img10.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.m {
  background-image: image-url('img11.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.n {
  background-image: image-url('img12.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.image_show {
  display: flex;
	flex-wrap: wrap;
}

.box-1 {
  background-image: image-url('img1.jpg');
  margin-top: 20px;
  margin-left: 120px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.box-2 {
  background-image: image-url('img2.jpg');
  margin-top: 20px;
  margin-left: 120px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.box-3 {
  background-image: image-url('img3.jpg');
  margin-top: 20px;
  margin-left: 120px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.box-4 {
  background-image: image-url('img4.jpg');
  margin-top: 20px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.box-5 {
  background-image: image-url('img5.jpg');
  margin-top: 20px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

.box-6 {
  background-image: image-url('img6.jpg');
  margin-top: 20px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

@media screen and (max-width: 425px) {
  .background {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    background-size: cover;
  }

  .image_show {
  width : 100%;
  display: flex;
	flex-wrap: wrap;
  }

  .c {
  background-image: image-url('img1.jpg');
  margin-top: 0 auto;
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.d {
  background-image: image-url('img2.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;

}

.e {
  background-image: image-url('img3.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.f {
  background-image: image-url('img4.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.g {
  background-image: image-url('img5.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.h {
  background-image: image-url('img6.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.i {
  background-image: image-url('img7.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.j {
  background-image: image-url('img8.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.k {
  background-image: image-url('img9.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.l {
  background-image: image-url('img10.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.m {
  background-image: image-url('img11.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

.n {
  background-image: image-url('img12.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: cover;
}

  .box-1 {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .box-2 {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .box-3 {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .box-4 {
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .box-5 {
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .box-6 {
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }


}


