// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes-top-box {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homes-top-wrapper {
  margin-top: 40px;
}

.homes-top-image {
  border: 1px solid #000;
  margin: 0 auto;
  height: 600px;
  background: image-url('img1.jpg');
  background-size: 100% auto;
  background-position: center;


  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 15px -10px;
}

.homes-top-text {
  height: 200px;
  margin-top: 110px;
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1rem 2rem;
  border: 2px solid #333;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  background: rgba(255,255,255,0.9);
  padding-top: 35px;
}

.homes-top-under-menu-title {
  margin-top: 15px;
}

.homes-top-under-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.about-top-wrapper {
  margin-top: 40px;
}

.about-top {
  font-size: 70px;
  text-align: center;
}

.about-nagano-cake-text {
  margin-top: 100px;
　font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  color: black;
  padding: 1rem 2rem;

  background: rgba(255,255,255,110);
  text-align: center;
}

#wrap{
  background-color: #ddd;
  padding: 25px 25px;
}



@font-face {

	font-family: 'Roboto', sans-serif;

	font-family: 'Oranienbaum', serif;

}

#wrap,#a{
  height: 650px;
  width: 90%;
  margin: 0 auto ;
}
.a{
  img{
    width: 100%;
  }
}

.c {
  background-image: image-url('scare_210422_0.jpg');
  background-size: cover;
  margin: 0 auto;
  height: 600px;
  background-position: center;
}

.d {
  background-image: image-url('scare_210422_1.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.e {
  background-image: image-url('scare_210422_2.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.f {
  background-image: image-url('scare_210422_3.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.g {
  background-image: image-url('scare_210422_4.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.h {
  background-image: image-url('scare_210422_5.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.i {
  background-image: image-url('scare_210422_6.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.j {
  background-image: image-url('scare_210422_7.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.k {
  background-image: image-url('scare_210422_8.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.l {
  background-image: image-url('scare_210422_9.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.m {
  background-image: image-url('scare_210422_10.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.n {
  background-image: image-url('scare_210422_11.jpg');
  margin: 0 auto;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.image_show {
  display: flex;
	flex-wrap: wrap;
}



.icon{
  margin: 20px 20px;
  width: 200px;
  height: 230px;
  background-size: cover;
  background-position: center;
}

