// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-prev:before,
 .slick-next:before {
   color: black;
 }

.homes-top-box {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homes-top-wrapper {
  margin-top: 40px;
}



.homes-top-text {
  height: 200px;
  margin-top: 110px;
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1rem 2rem;
  border: 2px solid #333;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  background: rgba(255,255,255,0.9);
  padding-top: 35px;
}


.about-top-wrapper {
  margin-top: 40px;
}

.about-top {
  font-size: 70px;
  text-align: center;
}

.about-nagano-cake-text {
  margin-top: 100px;
　font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  color: black;
  padding: 1rem 2rem;

  background: rgba(255,255,255,110);
  text-align: center;
}





@font-face {

	font-family: 'Roboto', sans-serif;

	font-family: 'Oranienbaum', serif;

}

.a {
  background-color: #f5f5f5;
}


.c {
  background-image: image-url('img1.jpg');
  margin: 0 auto;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;


}

.d {
  background-image: image-url('img2.jpg');
  margin: 0 auto;
  height: 750px;
  width: 500px;
  background-size: contain;

}

.e {
  background-image: image-url('img3.jpg');
  margin: 0 auto;
  height: 750px;
  width: 500px;
  background-size: contain;
}

.f {
  background-image: image-url('img4.jpg');
  margin: 0 auto;
  height: 750px;
  width: 500px;
  background-size: contain;
}

.g {
  background-image: image-url('img5.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.h {
  background-image: image-url('img6.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.i {
  background-image: image-url('img7.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.j {
  background-image: image-url('img8.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.k {
  background-image: image-url('img9.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.l {
  background-image: image-url('img10.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.m {
  background-image: image-url('img11.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.n {
  background-image: image-url('img12.jpg');
  margin: 0 auto;
  height: 600px;
  width: 400px;
  background-size: contain;
}

.image_show {
  display: flex;
	flex-wrap: wrap;
}



.icon{
  margin: 20px 60px;
  width: 400px;
  height: 480px;
  background-size: cover;
  background-position: center;
}

