<header class="sticky-top">
  <nav class="navbar navbar-dark navbar-expand-md">
    <div class="container">
      <a class="nav-link", href="/">SCARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="icon">
          <ul class="navbar-nav ml-auto">
            <li>
              <a href="https://instagram.com/nagano.cake">
              <span class="fab fa-instagram fa-3x mr-5 icons"></span>
            </li>
            <li>
              <a href="https://mobile.twitter.com/nagano_cake">
              <span class="fab fa-twitter-square fa-3x mr-5 icons"></span>
            </li>
            <li>
              <a href="https://ja-jp.facebook.com/">
              <span class="fab fa-facebook-square fa-3x icons"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>